.head {
  color: cadetblue;
  margin-bottom: 1rem;
}

.wrapper {
  display: flex;
}

.myBtn {
  margin-left: 2rem;
}

.top {
  display: grid;
  place-items: center;
  position: absolute;
  margin: 0;
  transform: translateY(-50%);
  top: 50%;

}

.info {
  font-weight: bold;
}
.info-2 {
  font-size: x-large;
  font-weight: bold;
}

