<div class="container col-lg-12 top">
  <div class="col-lg-6">
    <h2 class="head">Enter Username for Repository Details!</h2>
  </div>
  <div class="col-lg-6 wrapper">
    <label for="user" style="margin-top: 0.9rem;">Search User : &nbsp;  </label>
    <input
      type="text"
      pInputText
      [(ngModel)]="username"
      placeholder="Enter Username"
      name="user"
      id="user"
      required
    />
    <p-button label="Search User" class="myBtn" (onClick)="getUser()"></p-button>
  </div>

</div>




